
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #0000000f;
}

.headers.title {
    padding-top : 10px;
    color: black;
    opacity: 0.4;
    font-size: 60px;
    font-weight: bold;
}

.navbar {
    position: absolute;
    left: -20px;
}

.sidebar {
    width: 100px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
    z-index: 0;
    mask-composite: exclude
}

.sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(180deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 255)) 0% 0% / 100% 200% no-repeat;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
    animation: 5s ease 0s infinite normal none running nav-animation;
}

    @keyframes nav-animation {
        0% {
          background-position: 0% 0%;
        }
        50% {
          background-position: 0% 40%;
        }
        100% {
          background-position: 0% 0%;
        }
    }
      
    .nav-item {
      margin: 10px 0;
      opacity: 0.4;
      color: #333;
      text-decoration: none;
      font-size: 40px;
      color: transparent;
      border: none;
      background-color: transparent; /* Ensure background is transparent */
      outline: none; /* Remove focus outline */
      cursor: pointer; /* Add cursor pointer for buttons */
      padding: 0; /* Remove default padding */
      background: linear-gradient(180deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 255)) 0% 0% / 100% 200% no-repeat;
      -webkit-background-clip: text;
    }

    .nav-item:hover {
      opacity: 1;
    }

    .nav-item:focus {
      outline: none;
    }

    .nav-item.active {
      opacity: 1;
    }

    @keyframes sidebar-animation-1 {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 0% 20%;
        }
        100% {
            background-position: 0% 0%;
        }
    }
    
    @keyframes sidebar-animation-2 {
        0% {
            background-position: 0% 20%;
        }
        50% {
            background-position: 0% 40%;
        }
        100% {
            background-position: 0% 20%;
        }
    }
    
    @keyframes sidebar-animation-3 {
        0% {
            background-position: 0% 40%;
        }
        50% {
            background-position: 0% 60%;
        }
        100% {
            background-position: 0% 40%;
        }
    }
    
    @keyframes sidebar-animation-4 {
        0% {
            background-position: 0% 60%;
        }
        50% {
            background-position: 0% 80%;
        }
        100% {
            background-position: 0% 60%;
        }
    }
    
    @keyframes sidebar-animation-5 {
        0% {
            background-position: 0% 80%;
        }
        50% {
            background-position: 0% 100%;
        }
        100% {
            background-position: 0% 80%;
        }
    }
    
    @keyframes sidebar-animation-6 {
        0% {
            background-position: 0% 100%;
        }
        50% {
            background-position: 0% 120%;
        }
        100% {
            background-position: 0% 100%;
        }
    }
    
    .nav-item:nth-child(1) {
        animation: sidebar-animation-1 5s ease infinite;
    }
    
    .nav-item:nth-child(2) {
        animation: sidebar-animation-2 5s ease infinite;
    }
    
    .nav-item:nth-child(3) {
        animation: sidebar-animation-3 5s ease infinite;
    }
    
    .nav-item:nth-child(4) {
        animation: sidebar-animation-4 5s ease infinite;
    }
    
    .nav-item:nth-child(5) {
        animation: sidebar-animation-5 5s ease infinite;
    }
    
    .nav-item:nth-child(6) {
        animation: sidebar-animation-6 5s ease infinite;
    }
    
    .title {
        font-size: 180px;
        margin-bottom: 80px;
        opacity: 0.4;
        font-weight: 900;
        width: 100%;
        user-select: none;
        z-index: 0;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 255)) 0% 0% / 200% 100% repeat text;
        animation: 10s ease 0s infinite normal none running title-animation;
    }

    @keyframes title-animation {
        0% {
          background-position: 0% center;
        }
        50% {
          background-position: 100% center;
        }
        100% {
          background-position: 0% center;
        }
    }

    .btn-play {
      border: 2px solid #00FF00;
      color: #00FF00;
      opacity: 0.4;
      font-size: 60px;
      font-weight: bold;
      padding: 10px 30px;
      width: 50%;
      border-radius: 20px;
      text-align: center;
    }

    .btn-play:hover {
      background-color: #00FF00;
      color: #F6F6F6;
    }

    .instruction {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
    }

    .message-front {
      position: relative;
      top: 80px;
      right: -290px;
      font-family: "Playwrite US Trad", cursive;;
      font-weight: 300;
      font-size: 24px;
      opacity: 0.7;
      rotate: 345deg;
    }

    .arrow {
      position: relative;
      top: -80px;
      right: -350px;
      rotate: 220deg;
      opacity: 0.6;
      z-index: -1;
    }

    .modal-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      z-index: 1000; /* Ensure it's on top of other content */
  }
  
  .modal-content {
      background: white;
      padding: 20px;
      border-radius: 5px;
      max-width: 500px;
      width: 100%;
      position: relative;
  }
  
  .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
  }
.modal-dialog {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-button {
    border: 2px solid #1c221c;
    color: #1c221c;
    opacity: 0.4;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    width: 45%;
    border-radius: 10px;
    text-align: center;
}

.modal-button:hover {
    background-color: #1c221c;
    color: #F6F6F6;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: black;
    opacity: 0.4;
    font-size: 20px;
    font-weight: bold;
}

.canvas {
    background-color: black;
    display: none;
}

.user {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    max-height: 700px;
    min-width: 1500px;
  }
  .stat-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    width: 60%;
    height: 100%;
  }
  .friend-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    width: 45%;
    height: 100%;
  }
  .player-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 4px 10px 4px rgba(0,0,0,0.1);
  }
  .player-card h2 {
    font-size: 80px;
    opacity: 0.7;
    margin-left: 30px;
    font-weight: 900;
    width: 100%;
  }
  .player-img {
    max-width: 150px;
    border-radius: 50%;
    background: linear-gradient(orange, red);
    padding: 10px;
    opacity: 0.8;
    margin: 15px;
  }

  .player-img button {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 0;
  }

  .player-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .player-stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
  }

  .stat-win, .stat-lose, .stat-ratio {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 10px;
  }
  .player-stats h3 {
    font-size: 50px;
    opacity: 0.4;
    font-weight: 900;
    width: 100%;
    user-select: none;
    z-index: 0;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 255)) 0% 0% / 200% 100% repeat text;
    animation: 10s ease 0s infinite normal none running title-animation;
  }
  .player-stats p {
    font-size: 40px;
    opacity: 0.7;
    font-weight: 900;
    width: 100%;
    text-align: center; 
  }

  .table-container {
      width: 100%;
      overflow-x: auto;
      font-size: 25px;
      opacity: 0.7;
      box-shadow: 1px 4px 10px 4px rgba(0,0,0,0.1);
  }
  table {
      width: 100%;
      border-collapse: collapse;
  }
  th, td {
      border-bottom: 1px solid #0000001a;
      padding: 8px;
      text-align: center;
      vertical-align: middle; 
  }
  th {
      position: -webkit-sticky; /* pour Safari */
      position: sticky;
      top: 0;
      background-color: #f2f2f2;
      z-index: 1;
  }
  .opponent {
      width: 50%;
  }
  .result {
      width: 20%;
  }
  .date {
      width: 30%;
  }
  .opponent-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .opponent-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #00000068;
    margin-left: 10px;
  }
  .opponent-name {
    opacity: 0.7;
    font-weight: 900;
    width: 100%;
    height: 100%;
    text-align: left;
    margin-left: 20px;
  }
  .header-class {
      background-color: #f2f2f2;
  }

  .friends {
    width: 100%;
  }

  .friend-title {
    font-size: 50px;
    opacity: 0.4;
    font-weight: 900;
    width: 100%;
    text-align: center;
    user-select: none;
    z-index: 0;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255), rgb(255, 0, 255)) 0% 0% / 200% 100% repeat text;
    animation: 10s ease 0s infinite normal none running title-animation;
  }

  .friend-list {
      max-height: 300px;
      overflow-y: auto;
      border: 1px solid #cccccc9c;
      box-shadow: 1px 4px 10px 4px rgba(0,0,0,0.1);
      width: 100%;
      padding: 8px;
      list-style-type: none;
  }
  .friend-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #abababa3;
  }
  .friend-list img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #00000068;
    margin-left: 10px;
  }

  .friend-name {
    opacity: 0.7;
    font-size: 30px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    text-align: left;
    margin-left: 20px;
  }

  .online img {
    border: 3px solid rgb(28, 225, 28);
  }

  .message-user{
    rotate: 350deg;
    left: 80px;
    top: -40px;
  }

  .arrow2 {
    position: relative;
    width: 250px;
    height: 250px;
    opacity: 0.4;
    rotate: 0deg;
    top: -20px;
  }

  .avatar-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .avatar-body h1 {
    margin-bottom: 20px;
  }

  .avatarList {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    padding: 10px;
    margin-bottom: 30px;
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #ccc;
  }

  .avatar-img {
    max-width: 120px;
    border-radius: 50%;
    background: linear-gradient(orange, red);
    padding: 6px;
    opacity: 0.8;
    margin: 15px;
  }

  .avatar-img.selected {
    padding: 8px;
  }

  .avatar-img img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .modal-dialog.avatar {
    height: 90%;
  }