<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <style>
        canvas {
            display: block;
            margin: 0 auto;
            background-color: black;
        }
        #startButton {
            display: block;
            margin: 20px auto;
        }
        .middle-line {
            position: absolute;
            width: 2px;
            height: 360px; /* Ajustez la hauteur pour qu'elle corresponde à celle du canvas */
            background: white;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
    <script src="/static/js/pongCli.js"></script>
</head>
<body>
    <div class="middle-line"></div>
    <canvas id="gameCanvas" width="640" height="360"></canvas>
    <button id="startButton">Start Game</button>
</body>
</html>
