<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <style>
        canvas {
            display: block;
            margin: 0 auto;
            background-color: black;
        }
        #startButton {
            display: block;
            margin: 20px auto;
        }
        .middle-line {
            position: absolute;
            width: 2px;
            height: 360px; /* Ajustez la hauteur pour qu'elle corresponde à celle du canvas */
            background: white;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const canvas = document.getElementById('gameCanvas');
            const ctx = canvas.getContext('2d');
            let gameState = {};
            let gameStarted = false;
            let gameOver = false;
            let player1Speed = 0;
            let player2Speed = 0;
            const keys = {};

            const socket = new WebSocket('ws://localhost/ws/pong/');

            socket.onopen = () => {
                console.log('Connected to server');
                socket.send(JSON.stringify({ type: 'request_state' }));
            };

            socket.onmessage = (event) => {
                const data = JSON.parse(event.data);
                console.log('Received update:', data);
                gameState = data;
                draw();
                if (gameState.game_started) {
                    gameStarted = true;
                    gameOver = false;
                } else if (gameState.game_over && !gameOver) {
                    gameOver = true;
                }
            };

            document.getElementById('startButton').addEventListener('click', () => {
                console.log("Start button clicked");
                socket.send(JSON.stringify({ type: 'start_game' }));
                gameStarted = true;
                gameOver = false;
                if (!animationFrameRequest) {
                    requestAnimationFrame(update);
                }
            });

            function draw() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.fillStyle = 'white';

                // Draw ball
                ctx.beginPath();
                ctx.arc(gameState.ball.x, gameState.ball.y, 5, 0, Math.PI * 2);
                ctx.fill();

                // Draw paddles
                ctx.fillRect(canvas.width - 15, gameState.player1.y, 10, 70);
                ctx.fillRect(5, gameState.player2.y, 10, 70);

                // Draw scores
                ctx.font = '20px Arial';
                ctx.fillText(gameState.player1_score, canvas.width - 50, 30);
                ctx.fillText(gameState.player2_score, 30, 30);
            }

            let animationFrameRequest;

            function update() {
                if (gameStarted) {
                    animationFrameRequest = requestAnimationFrame(update);
                } else {
                    cancelAnimationFrame(animationFrameRequest);
                    animationFrameRequest = null;
                }
                socket.send(JSON.stringify({ type: 'request_state' }));
            }

            function handleKeyDown(event) {
                if (['ArrowDown', 'ArrowUp', 's', 'w'].includes(event.key)) {
                    event.preventDefault();
                }
                keys[event.key] = true;
                updateSpeeds();
            }

            function handleKeyUp(event) {
                if (['ArrowDown', 'ArrowUp', 's', 'w'].includes(event.key)) {
                    event.preventDefault();
                }
                keys[event.key] = false;
                updateSpeeds();
            }

            function updateSpeeds() {
                const newPlayer1Speed = (keys['ArrowDown'] ? 7 : 0) + (keys['ArrowUp'] ? -7 : 0);
                const newPlayer2Speed = (keys['s'] ? 7 : 0) + (keys['w'] ? -7 : 0);

                if (newPlayer1Speed !== player1Speed || newPlayer2Speed !== player2Speed) {
                    player1Speed = newPlayer1Speed;
                    player2Speed = newPlayer2Speed;
                    socket.send(JSON.stringify({ type: 'player_input', player1Speed, player2Speed }));
                }
            }

            document.addEventListener('keydown', handleKeyDown);
            document.addEventListener('keyup', handleKeyUp);

            socket.onclose = () => {
                console.log('Disconnected from server');
            };
        });
    </script>
</head>
<body>
    <div class="middle-line"></div>
    <canvas id="gameCanvas" width="640" height="360"></canvas>
    <button id="startButton">Start Game</button>
</body>
</html>
