<div class="game-shadow">
    <div class="game-container">
      <div class="player-segment">
        <div class="player-container">
          <div class="player-card-wrapper">
            <div class="player-card">
                <img src="http://10.13.4.1:8000/media/avatars/default_avatar.png" alt="avatar" class="player-avatar">
              <div class="player-info">
                <div class="player-name"><h5>Player 1</h5></div>
              </div>
            </div>
          </div>
        </div>

        

        <div class="score-container">
          <div class="score-wrapper">
            <div class="score">
              <div class="player-score">4</div>
              <div class="player-score">0</div> 
            </div>
          </div>
        </div>

        <div class="player-container">
          <div class="player-card-wrapper">
            <div class="player-card-game">
              <img src="http://10.13.4.1:8000/media/avatars/default_avatar.png" alt="avatar" class="player-avatar">
              <div class="player-info">
                <div class="player-name"><h5>Player 1</h5></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="game-board">
        <div class="canvas-wrapper">
          <div class="canvas-container">
            <canvas id="gameCanvas" width="800" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
    
  </div>