<div class="game-shadow">
  <div class="game-container">
    <div class="player-segment">
      <div class="player-container">
        <div class="player-card-wrapper">
          <div class="player-card-game ">
            <img src="/media/avatars/default_avatar.png" alt="avatar" class="player-avatar" id="player-1-img">
            <div class="player-info">
              <div class="player-name" id="player-1-name"><h5>Player 1</h5></div>
            </div>
          </div>
        </div>
      </div>

      <div class="score-container">
        <div class="score-wrapper">
          <div class="score">
            <div class="player-score">0</div>
            <div class="player-score">0</div> 
          </div>
        </div>
      </div>

      <div class="player-container">
        <div class="player-card-wrapper">
          <div class="player-card-game">
            <img src="/media/avatars/default_avatar.png" alt="avatar" class="player-avatar" id="player-2-img">
            <div class="player-info">
              <div class="player-name" id="player-2-name"><h5>Player 2</h5></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="game-board">
      <div class="canvas-wrapper">
        <div class="canvas-container">
          <canvas class="canvas" id="gameCanvas" width="98%" height="auto"></canvas>
        </div>
      </div>
      <div id="game-over-message" class="game-over-message" style="display: none;">
        <h2 id="displayMessage"></h2>
    </div>
    </div>
  </div>
</div>
