<div class="container">
  <canvas class="canvas" id="gameCanvas" width="640" height="360"></canvas>
  <button class="btn btn-primary m-2" onclick="selectGameType('solo')">Solo</button>
  <button class="btn btn-primary m-2" onclick="selectGameType('1v1')">1v1</button>
  <button class="btn btn-primary m-2" onclick="selectGameType('local_1v1')">Local 1v1</button>
  <button class="btn btn-primary m-2" onclick="selectGameType('tournament')">Tournament</button>
  <button id="startButton" class="btn btn-success">Start Game</button>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    initializeStartButton();
  });
</script>
