<div id="playerInfo" style="position: absolute; left: 10px; top: 10px;">
  <p>Username: <span id="displayUsername"></span></p>
  <p>Player Number: <span id="displayPlayerNum"></span></p>
  <p>Opponent: <span id="displayOpponent"></span></p>
</div>
<div class="container">
  <canvas class="canvas" id="gameCanvas" width="640" height="360"></canvas>
  <button class="btn btn-primary m-2" onclick="selectGameType('solo')">Solo</button>
  <button class="btn btn-primary m-2" onclick="selectGameType('1v1')">1v1</button>
  <button class="btn btn-primary m-2" onclick="selectGameType('local_1v1')">Local 1v1</button>
  <button class="btn btn-primary m-2" onclick="selectGameType('tournament')">Tournament</button>
  <div id="opponentNameField" style="display: none;">
    <input type="text" id="opponentName" placeholder="Opponent Username">
  </div>
  <button id="startButton" class="btn btn-success">Start Game</button>
</div>