<div class="chat-container">
  <div class="chat-area">
    <div class="chat-header">
        <h5 class="player-name chat-username"><span id="username" data-i18n="liveChat">Live Chat</span></h5>
        <div class="img-container chat-img-container" style="display: none">
          <img src="http://localhost:8080/media/avatars/default_avatar.png" alt="player-img" class="chat-img">
        </div>
    </div>
      <div class="messages" id="messages">
      </div>
      <div class="input-area">
          <input type="text" data-i18n="[placeholder]typeMessage" placeholder="Type a message..." id="messageInput" class="input-message" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          <button onclick="sendMessage()" class="send-message" data-i18n="send">Send</button>
      </div>
  </div>
  <div class="sidebar-chat">
    <div class="user-profile">
      <p>Louis</p>
      <img src="http://localhost:8080/media/avatars/default_avatar.png" alt="User Picture">
  </div>
  <div class="search-bar">
      <input type="text" data-i18n="[placeholder]search" placeholder="Search...">
  </div>
  <div class="room-history">
    </div>
  </div>
</div>
