<div class="modal fade show" style="display: block;" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">S'enregistrer</h5>
                <a class="close" href="/">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="register-username">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="register-username" placeholder="Nom d'utilisateur">
                    </div>
                    <div class="form-group">
                        <label for="register-email">Email</label>
                        <input type="email" class="form-control" id="register-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="register-password">Mot de passe</label>
                        <input type="password" class="form-control" id="register-password" placeholder="Mot de passe">
                    </div>
                    <div class="buttons">
                        <button type="submit" class="btn modal-button">S'enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="static/script/router.js"></script>
