<div class="user">
    <div class="stat-panel">
      <div class="player-card">
        <h4 class="player-name username"><span id="username"></h4>
        <button class="btn-link modal-trigger player-img" data-modal="avatarModal" data-html="/static/modals/modals.html">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
        </button>
      </div>
      <div class="player-stats">
        <div class="stat-win">
          <h4 class="stat-title linear-title">Wins</h3>
          <p class="stat-value">21</p>
        </div>
        <div class="stat-lose">
          <h4 class="stat-title linear-title">Loses</h3>
          <p class="stat-value">10</p>
        </div>
        <div class="stat-ratio">
          <h4 class="stat-title linear-title">Ratio</h3>
          <p class="stat-value">2.1</p>
        </div>
      </div>
      <div class="table-container">
        <table class="match-stat">
            <thead>
                <tr>
                    <th class="header-class opponent">Concurent</th>
                    <th class="header-class result">Resultat</th>
                    <th class="header-class date">date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="opponent">
                      <div class="opponent-card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
                        <div class="opponent-name">Val le boss</div>
                      </div>
                    </td>
                    <td class="result">Gagne</td>
                    <td class="data">21.02.24</td>
                </tr>
                <tr>
                  <td class="opponent">
                    <div class="opponent-card">
                      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
                      <div class="opponent-name">Sabino la legend</div>
                    </div>
                  </td>
                  <td class="result">Perdu</td>
                  <td class="data">21.02.24</td>
                </tr>
                <tr>
                  <td class="opponent">
                    <div class="opponent-card">
                      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
                      <div class="opponent-name">Random</div>
                    </div>
                  </td>
                  <td class="result">Gagne</td>
                  <td class="data">21.02.24</td>
                </tr>
                <tr>
                  <td class="opponent">
                    <div class="opponent-card">
                      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
                      <div class="opponent-name">Youhou on peut scroll</div>
                    </div>
                  </td>
                  <td class="result">Perdu</td>
                  <td class="data">21.02.24</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="friend-panel">
      <div class="friends">
        <h4 class="linear-title friend-title">Amis</h2>
        <div id="pendingRequests" class="pending-requests">
            <h6>Pending Requests</h6>
            <ul class="friend-list" id="pendingFriendList">
              <li class="pending-friend-item">
                <img src="null" alt="player-img" class="img-fluid pending-friend-img">
                <div class="pending-friend-name">Sabino</div>
                <button class="btn-sm btn-success">Accept</button>
                <button class="btn-sm btn-danger">Reject</button>
              </li>
            </ul>
        </div>
        <div id="acceptedFriends" class="accepted-friends">
            <h6>Friends</h6>
            <ul class="friend-list" id="friendList">
              <li class="accepted-friend-item">
                <img src="null" alt="player-img" class="img-fluid accepted-friend-img">
                <div class="accepted-friend-name">Sabino</div>
              </li>
            </ul>
        </div>
        <div class="friend-button">
            <button class="modal-button modal-trigger" data-modal="friendModal" data-html="/static/modals/modals.html">Ajouter un ami</button>
        </div>
      </div>
      <div class="citation">
        <img src="static/img/Arrow2.png" alt="arrow-img" class="img-fluid arrow2">
        <p class="message-front message-user">Il parait que t'as des potes</p>
      </div>
    </div>
  </div>
