<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body>
    <header>
        <a class="headers title" href="/home">Pong Game</a>
    </header>
    <main>
        <h1>User Profile</h1>
        <div id="user-profile">
            <p><strong>Name:</strong> <span id="username"></span></p>
            <p><strong>Email:</strong> <span id="email"></span></p>
            <p><strong>Avatar_path:</strong> <span id="avatar_url"></span></p>
        </div>
        <button id="logoutButton">Logout</button>
    </main>
    <script src="path/to/your/scripts.js"></script>
    <script src="path/to/your/login.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetchUserProfile();
        });

        document.getElementById('logoutButton').addEventListener('click', () => {
            localStorage.removeItem('authToken');
            window.history.pushState({}, '', '/login');
            handleRoute('login');
        });
    </script>
</body>
</html> -->

<div class="user">
    <div class="stat-panel">
      <div class="player-card">
        <h2 class="player-name"><span id="username"></h2>
        <div class="player-img">
          <button class="btn btn-link modal-trigger" data-modal="avatarModal" data-html="/static/modals/avatar.html">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
          </button>
        </div>
      </div>
      <div class="player-stats">
        <div class="stat-win">
          <h3 class="stat-title">Wins</h3>
          <p class="stat-value">21</p>
        </div>
        <div class="stat-lose">
          <h3 class="stat-title">Loses</h3>
          <p class="stat-value">10</p>
        </div>
        <div class="stat-ratio">
          <h3 class="stat-title">Ratio</h3>
          <p class="stat-value">2.1</p>
        </div>
      </div>
      <div class="table-container">
        <table class="match-stat">
            <thead>
                <tr>
                    <th class="header-class opponent">Concurent</th>
                    <th class="header-class result">Resultat</th>
                    <th class="header-class date">date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="opponent">
                      <div class="opponent-card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
                        <div class="opponent-name">Val le boss</div>
                      </div>
                    </td>
                    <td class="result">Gagne</td>
                    <td class="data">21.02.24</td>
                </tr>
                <tr>
                  <td class="opponent">
                    <div class="opponent-card">
                      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
                      <div class="opponent-name">Sabino la legend</div>
                    </div>
                  </td>
                  <td class="result">Perdu</td>
                  <td class="data">21.02.24</td>
                </tr>
                <tr>
                  <td class="opponent">
                    <div class="opponent-card">
                      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
                      <div class="opponent-name">Random</div>
                    </div>
                  </td>
                  <td class="result">Gagne</td>
                  <td class="data">21.02.24</td>
                </tr>
                <tr>
                  <td class="opponent">
                    <div class="opponent-card">
                      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
                      <div class="opponent-name">Youhou on peut scroll</div>
                    </div>
                  </td>
                  <td class="result">Perdu</td>
                  <td class="data">21.02.24</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="friend-panel">
      <div class="friends">
        <h2 class="friend-title">Amis</h2>
        <ul class="friend-list">
          <li class="friend-list-item online">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
            <div class="friend-name">Val le boss</div>
          </li>
          <li class="friend-list-item">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
            <div class="friend-name">Sabino la legend</div>
          </li>
          <li class="friend-list-item">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
            <div class="friend-name">Random</div>
          </li>
          <li class="friend-list-item">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="player-img" class="img-fluid">
            <div class="friend-name">Ok j'ai pas d'amis</div>
          </li>
        </ul>
      </div>
      <div class="citation">
        <img src="./static/img/Arrow2.png" alt="arrow-img" class="img-fluid arrow2">
        <p class="message-front message-user">Il parait que t'as des potes</p>
      </div>
    </div>
  </div>